<!DOCTYPE html>
<html lang="pt-br">
<head>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="../../../style.css">
    <link rel="stylesheet" href="./template.css">

    <link href="https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap" rel="stylesheet">

  <title>GameMidiaKit</title>
</head>
<body>

  <div id="app-login-t">

    <div class="t-content">
  
      <h1>Your template</h1>
      <p>Choose your GMkit templates. </p>
      
      <div class="aside">
        <div class="container">

          
            <section class="gallery">
                <figure class="item" style="--delay:,1s">
                    <img src="https://images.unsplash.com/photo-1718095737567-4e4e5ae276b7?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Workspace elétrica"> <!--  Inserindo imagem aleatória com API unsplash -->
                    <figcaption class="details">
                        <h2>O Workspace elétrica</h2>
                        <div class="tags">
                            <span>tag</span>
                        </div>
  
                    </figcaption>
                </figure>
  
                <figure class="item" style="--delay:.2s">
                    <img src="https://images.unsplash.com/photo-1718095737567-4e4e5ae276b7?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Dark and red">
                    <figcaption class="details"> 
                        <h2>Dark and red</h2>
                        <div class="tags">
                            <span>tag</span>
                        </div>
  
                    </figcaption>
                </figure>
  
                <figure class="item" style="--delay:.4s">
                    <img src="https://images.unsplash.com/photo-1718095737567-4e4e5ae276b7?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Organização e grids">
                    <figcaption class="details">
                        <h2>Organização e Grids</h2>
                        <div class="tags">
                            <span>tag</span>
                        </div>
  
                    </figcaption>
                </figure>
  
                <figure class="item" style="--delay:.6s">
                    <img src="https://images.unsplash.com/photo-1718095737567-4e4e5ae276b7?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Colméia">
                    <figcaption class="details">
                        <h2>Colméia</h2>
                        <div class="tags">
                            <span>tag</span>
                        </div>
  
                    </figcaption>
                </figure>
  
                <figure class="item" style="--delay:.8s">
                    <img src="https://images.unsplash.com/photo-1718095737567-4e4e5ae276b7?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Setup de escritor">
                    <figcaption class="details">
                        <h2>Setup de escritor</h2>
                        <div class="tags">
                            <span>tag</span>
                        </div>
  
                    </figcaption>
                </figure>
  
                <figure class="item" style="--delay:1.2s">
                    <img src="https://images.unsplash.com/photo-1718095737567-4e4e5ae276b7?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Ergonomia e cores">
                    <figcaption class="details">
                        <h2>Ergonomia e cores</h2>
                        <div class="tags">
                            <span>tag</span>
                        </div>
  
                    </figcaption>
                </figure>
  
                <figure class="item" style="--delay:1.4s">
                    <img src="https://images.unsplash.com/photo-1718095737567-4e4e5ae276b7?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Show de luzes">
                    <figcaption class="details">
                        <h2>Show de luzes</h2>
                        <div class="tags">
                            <span>tag</span>
                        </div>
  
                    </figcaption>
                </figure>
  
                <figure class="item" style="--delay:1.6s">
                    <img src="https://images.unsplash.com/photo-1718095737567-4e4e5ae276b7?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Deep purple">
                    <figcaption class="details">
                        <h2>Deep purple</h2>
                        <div class="tags">
                            <span>tag</span>
                        </div>
  
                    </figcaption>
                </figure>
  
                <figure class="item" style="--delay:1.8s">
                    <img src="https://images.unsplash.com/photo-1718095737567-4e4e5ae276b7?q=80&w=1374&auto=format&fit=crop&ixlib=rb-4.0.3&ixid=M3wxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8fA%3D%3D" alt="Multi-Screen">
                    <figcaption class="details">
                        <h2>Multi-Screen</h2>
                        <div class="tags">
                            <span>tag</span>
                        </div>
  
                    </figcaption>
                </figure>
  
  
  
            </section>
  
  
  
        </div>

  </div>
  <!-- <footer class="container">
    <p>© 2024 - Game Mídia Kit</p>
  </footer> -->
  </div>
</body>
</html>